.user-portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  width: 58vw;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.projects-container .header,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  border-radius: 1.5rem;
  width: 100%;
  background-color: var(--bg-cards);
}
.projects-container .header a {
  transition: 0.4s;
}

.projects-container .header a:hover {
  color: #fff;
}

/* PROJECTS */
.projects-container .projects {
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.projects-container .projects .project a {
  display: flex;
  flex-direction: column;
  height: 11.25rem;
  flex: 1;
  background-color: var(--bg-cards);
  border-radius: 1.25rem;
  padding: 1.875rem;
  gap: 1.125rem;
  justify-content: space-between;
  margin-right: 20px;
  transition: .2s;
}

.projects-container .projects .project a:hover {
  color: #FFF;
}

.projects-container .projects .project a .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.projects-container .projects .project a .info h3 {
  display: flex;
  gap: 1rem;
}

.projects-container .projects .project a .more-info {
  display: flex;
}

.projects-container .projects .project a .more-info .details {
  display: flex;
  gap: 0.75rem;
}

.projects-container .projects .project a .more-info .details fa-icon {
  font-weight: 800;
}

.projects-container .projects .project a .more-info {
  display: flex;
  justify-content: space-between;
}

/* POSTS */
/*
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.posts-container .post {
  height: 12.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.875rem;
}

.posts-container .post img {
  height: 8rem;
  border-radius: 50%;
}

.posts-container .post .info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.posts-container .post .info .title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.posts-container .post .info .title p {
  font-weight: 300;
  font-size: 0.875rem;
}

.posts-container .post .info .description {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.posts-container .post .info .description .topics {
  display: flex;
  gap: 1rem;
} */
