<div class="user-portfolio-container">
  <div class="projects-container">
    <header class="header">
      <h2>Meus Projetos</h2>
      <a href="http://github.com/Player35Oficial" target="_blank">Veja Todos</a>
    </header>
    <div class="projects" *ngIf="repos">
      <div class="project" *ngFor="let repo of repos.slice(0, 30)">
        <a href="{{ repo.html_url }}" target="_blank">
          <div class="info">
            <h3>
              <fa-icon [icon]="faFolder"></fa-icon>
              {{ repo.name }}
            </h3>
            <p>{{ repo.description || "Sem descrição" }}.</p>
          </div>
          <div class="more-info">
            <div class="details">
              <span>
                <fa-icon [icon]="faStar"></fa-icon>
                {{ repo.stargazers_count }}
              </span>
              <span>
                <fa-icon [icon]="faCodeFork"></fa-icon>
                {{ repo.forks_count }}
              </span>
            </div>
            <div class="stack">
              <span>{{ repo.language || "HTML" }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ng-template #noRepos>
      <h1>Não há projetos cadastrados</h1>
    </ng-template>
  </div>

  <!-- <div class="posts-container">
    <header class="header">
      <h2>Publicações recentes</h2>
    </header>
    <div class="card post">
      <img src="https://avatars.githubusercontent.com/u/85082875?v=4" alt="" />
      <div class="info">
        <div class="title">
          <h3>Erro adb devices no Genymotion e Android Studio</h3>
          <p>2 Anos atrás</p>
        </div>
        <div class="description">
          <p>Erro adb devices no Genymotion e android studio (React Native)</p>
          <div class="topics">
            <span>#react-native</span>
            <span>#genimotion</span>
            <span>#genimotion</span>
            <span>#genimotion</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
