<div class="user-portfolio-container">
  <div class="projects-container">
    <header class="header">
      <h2>Meus Projetos</h2>
      <a href="http://github.com/Player35Oficial" target="_blank">Veja Todos</a>
    </header>
    <div class="projects">
      <div class="project">
        <div class="info">
          <h3>
            <fa-icon [icon]="faFolder"></fa-icon>
            My-onix
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            eveniet consequuntur.
          </p>
        </div>
        <div class="more-info">
          <div class="details">
            <span>
              <fa-icon [icon]="faStar"></fa-icon>
              Stars
            </span>
            <span>
              <fa-icon [icon]="faCodeFork"></fa-icon>
              Forks
            </span>
          </div>
          <div class="stack">
            <span>Javascript</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Recent posts</h2>
  </div>
</div>
