<div class="user-cards-container">
  <div class="card profile">
    <img src="../../../assets/profile-pic.png" alt="" />
    <div>
      <h1>Yuri G. Santana</h1>
      <span>Javascript Developer</span>
    </div>
  </div>

  <div class="card">
    <!-- Tentar usar um array de objetos para encurtar o HTML -->
    <ul class="links-list">
      <li>
        <a href="">
          <fa-icon [icon]="faLocationDot"></fa-icon>
          <p>Brasil</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faBriefcase"></fa-icon>
          <p>UNASP-SP</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faGithub"></fa-icon>
          <p>Github</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faLinkedin"></fa-icon>
          <p>Linkedin</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faTwitter"></fa-icon>
          <p>Twitter</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faGlobe"></fa-icon>
          <p>https://meusite.dev</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <p>yuri.dev35@gmail.com</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="card techs">
    <h2>Tecnologias</h2>
    <ul class="tech-list">
      <li class="tech-item" *ngFor="let tecnologia of tecnologias">
        {{ tecnologia.toUpperCase() }}
      </li>
    </ul>
  </div>

  <div class="card exps">
    <h2>Experiências</h2>
    <ul class="exp-list">
      <li class="exp-item" *ngFor="let experiencia of experiencias">
        <p class="company">{{ experiencia.company }}</p>
        <p class="period">{{ experiencia.period }}</p>
        <p class="position">{{ experiencia.position }}</p>
      </li>
    </ul>
  </div>

  <div class="card exps">
    <h2>Educação</h2>
    <ul class="exp-list">
      <li class="exp-item" *ngFor="let course of educacao">
        <p class="company">{{ course.school }}</p>
        <p class="period">{{ course.period }}</p>
        <p class="position">{{ course.course }}</p>
      </li>
    </ul>
  </div>
</div>
