<div class="user-cards-container">
  <div class="card profile">
    <img src="../../../assets/profile-pic.png" alt="" />
    <div>
      <p>Yuri G. Santana</p>
      <span>Javascript Developer</span>
    </div>
  </div>

  <div class="card">
    <ul class="links-list">
      <li>
        <a href="">
          <fa-icon [icon]="faLocationDot"></fa-icon>
          <p>Brasil</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faBriefcase"></fa-icon>
          <p>UNASP-SP</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faGithub"></fa-icon>
          <p>Github</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faLinkedin"></fa-icon>
          <p>Linkedin</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faTwitter"></fa-icon>
          <p>Twitter</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faGlobe"></fa-icon>
          <p>https://meusite.dev</p>
        </a>
      </li>
      <li>
        <a href="">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <p>yuri.dev35@gmail.com</p>
        </a>
      </li>
    </ul>
  </div>
</div>
